a{

  text-decoration: none;
  color: var(--text-color);
}
.links{
        display: flex;
        margin-bottom: 0;
        margin-top: 31px;
        min-width: 280px;
        justify-content:flex-end;
        align-items: center;
        
        gap: 4px;
       
       
    }

.link-item-email, .link-item-linkedin, .link-item-github, .link-item-discord{
    display: flex;
    border: 2px solid var(--text-color);
    background-color: var(--bg-color);
    border-radius: 5px;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 3px;
    transition: 0.5s;
    max-height: 20px;
    min-width: 65px;
    text-decoration: none;
    padding: 0; 
    overflow: hidden;
    will-change: transform;
}

.link-mail-text, .link-linkedin-text, .link-github-text, .link-discord-text{
    text-decoration: none;
    color: var(--text-color);
}
.link-item-email:hover, .link-item-linkedin:hover, .link-item-github:hover, .link-item-discord:hover {
    cursor: pointer;
    opacity: 60%;  
    transform: translateY(-2px);
    position: relative;
    z-index: 1;
}

/* MAIL */
.lucide.lucide-mail{
    stroke: var(--text-color);
}

.link-item-email:hover{
    box-shadow: 0px 0px 10px 2px  rgba(226, 25, 25, 0.514);
    color: rgb(226, 25, 25);       
}
.link-item-email:hover .lucide.lucide-mail{
    stroke: rgb(226, 25, 25);
}



/* LINKEDIN */
.lucide.lucide-linkedin{
    stroke: var(--text-color);
}


.link-item-linkedin:hover{
    box-shadow: 0px 0px 10px 2px  rgba(10, 104, 192, 0.514);
    color: rgb(10, 104, 192);
}  
.link-item-linkedin:hover .lucide.lucide-linkedin{
    stroke: rgb(10, 104, 192);
}

/* GITHUB */
.lucide.lucide-github{
    stroke: var(--text-color);
}

.link-item-github:hover {
    box-shadow: 0px 0px 10px 2px  rgba(48, 15, 235, 0.514);
    color: rgb(48, 15, 235);
    
}
.link-item-github:hover .lucide.lucide-github {
    stroke: rgb(48, 15, 235);
}


/* DISCORD */

.lucide.lucide-discord{
    fill: var(--text-color);
}

.link-item-discord:hover {
    box-shadow: 0px 0px 10px 2px  rgba(80, 9, 112, 0.514);
    color: rgb(80, 9, 112);
}

.link-item-discord:hover .lucide.lucide-discord{
    fill: rgb(80, 9, 112);
}