
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --border-color: #000000;
  

}


@media (prefers-color-scheme: dark){
 :root{
  --bg-color: #000000;
  --text-color: #d3cfcf;
  --border-color: #ffffff; 

 } 
 .earthSVG{
  fill: white;
 }
 
}




body {
  background-color: var(--bg-color);
  color: var(--text-color);
  .logo-description, .container, .header-description, 
  .main-description, .links, .paragraph-description, 
  .link-item {
  border: 1px solid var(--border-color);
}
  

  transition: background-color 0.3s, color 0.3s;
}



